/* 组件：按钮 */
.btn-default,.btn-default:visited {
	color: white;
	background-color: #0066CC;
	border-color: #0066CC;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
	color: white;
	background-color: #3333CC;
	border-color: #3333CC;
}

.btn-default.disabled,
.btn-default[disabled],
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
.btn-default.disabled.active,
.btn-default[disabled].active {
	background-color: #3333CC;
	border-color: #3333CC;
}
/* 组件：输入框 */
.input-default:focus {
	border: 1px solid #0066CC;
}
/* 组件：开关 */
.switcher.on .line {
	background: #0066CC;
}

/* 组件：提示条 */
.alertBar.alert-default {
	background-color: #FFF;
	color: black;
}
/* 组件：提示框 */
.alertBox.alertBox-default {
	background-color: #FFF;
}

.alertBox.alertBox-default .alertBox-title {
	background-color: #3399FF ;
	color: white;
}

.alertBox.alertBox-default .alertBox-btn {
	border-top: 1px solid #DDDDDD;
}

.alertBox.alertBox-default .alertBox-btn * {
	background-color: #FFF;
}

.alertBox.alertBox-default .alertBox-btn.alertBox-twoBtn>*:first-child {
	border-right: 1px solid #DDDDDD;
}
/* 组件：标题栏 */
.titlebar {
	background-color: #0066CC;
	border-bottom: 1px solid #0066CC;
}

.titlebar .btn {
	color: white;
	border-left: 1px solid #3333CC;
	border-right: 1px solid #3333CC;
}

.titlebar .title {
	color: white;
}

.titlebar .right-btns {
	color: white;
}

.titlebar .right-btns a {
	opacity: 0.8;
	transition: 0.2s;
}

.titlebar .right-btns a:hover,
.titlebar .right-btns a.active {
	border-bottom: 2px solid white;
	opacity: 1;
}
/* 菜单栏 */
.menu {
	background-color: #0066CC;
	color: white;
}

.menu-group .item {
}

.menu-group>.item>a {
	border-bottom: 2px solid #3366CC;
}

.menu-group>.item.active>a,
.menu-group>.item:active>a {
	background-color: #3333CC;
}

/* 组件：Welcome */
.welcome .header {
	color: white;
	background-color: #0066CC;
}